- var menu_items = [{ title: 'Главная', route: '/'}, { title: 'Администрирование', route: '/admin'}];
menu.right
	each item in menu_items
		li
			a(href="/#"+item.route, ng-class="{'active': isActive('"+item.route+"')}")=item.title
