div.sidebar(ng-controller="TreeController")
	div.action-panel
		a.button(href="/#/admin/categories/create")
			button Создать категорию
		a.button.button-primary(href="/#/admin/discounts/create")
			button Создать скидку
	ul.categories(ng-if="categories.length > 0")
		li.category(ng-repeat="category in categories")
			a.title(href="/#/admin/categories/{{category._id}}")
				img.icon(ng-if="category.icon.length > 0", src="" ng-src="{{category.icon}}")
				span(ng-bind="category.title")
				span.arrow(ng-class="{ 'collapsed': category._collapsed }", ng-click="toggleCategory($event, category)")
			ul.benefits(ng-show="discounts.length > 0 && category._collapsed")
				li.benefit(ng-repeat="discount in discounts | filter: { 'category_id': category._id }")
					a.title(ng-bind="discount.title", href="/#/admin/discounts/{{discount._id}}")
