doctype html
html(lang='en', ng-app='discounts', ng-class='{"admin": isActive("/admin"), "category": isPath("/admin/categories"), "discount": isPath("/admin/discounts")}')
	head
		block title
		title World of Discounts
		link(href='/css/discounts.css', rel="stylesheet")
	body
		header
			div(class='wg-logo')
				img(src='/img/logo.png')
			include ./includes/menu_top_right.jade
		main
			include ./includes/sidebar.jade
			div.content(ng-view)
		footer 
		script(src='/js/libs/lodash/lodash.min.js')
		script(src='/js/libs/angular/angular.min.js')
		script(src='/js/libs/angular-route/angular-route.min.js')
		script(src='/js/libs/angular-animate/angular-animate.min.js')
		script(src='/js/libs/angular-bootstrap/ui-bootstrap-tpls.min.js')
		script(src='/js/libs/angular-simple-logger/dist/angular-simple-logger.min.js')
		script(src='/js/libs/angular-google-maps/dist/angular-google-maps.min.js')
		script(src='/js/app/app.compiled.js')
