@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@font-face { font-family: 'WarHelios'; src: url("/css/src/wg_fonts/warhelioscondcbold-webfont.woff") format("woff"), url("/css/src/wg_fonts/warhelioscondcbold-webfont.svg#warhelioscondcbold-webfont") format("svg"); font-weight: bold; font-stretch: condensed; font-style: normal; }

@font-face { font-family: 'WarHelios'; src: url("/css/src/wg_fonts/warhelioscondc-webfont.woff") format("woff"), url("/css/src/wg_fonts/warhelioscondc-webfont.svg#warhelioscondc-webfont") format("svg"); font-weight: normal; font-stretch: condensed; font-style: normal; }

html, body { font-family: "Tahoma", "Geneva", sans-serif; font-size: 14px; margin: 0; padding: 0; border: 0; vertical-align: baseline; line-height: 1; background: #FEFEFE; display: flex; flex-direction: column; flex: 1 1 100%; }

html { min-height: 100%; background: #e3e3e3; box-sizing: border-box; }

body { position: relative; box-shadow: 0 0 3px #c8c8c8; background: #EFEFEF url("/img/bg_image.jpg") no-repeat; background-size: 100% auto; transition: all 1s ease-out .5s; }

body:before { content: ''; display: block; width: 100%; height: 100%; position: absolute; background: rgba(255, 255, 255, 0.65); }

html { transition: background-color 1s ease-out; }

html.ng-scope body { margin: 15px; }

html.admin { background-color: rgba(248, 172, 184, 0.2); }

html.category { background-color: rgba(0, 128, 0, 0.1); }

html.discount { background-color: rgba(255, 249, 117, 0.2); }

body * { box-sizing: border-box; }

header, footer, main { width: 100%; height: auto; margin: 0 auto; position: relative; z-index: 1; }

h1, h2, h3, h4, h5, h6 { font-family: WarHelios; font-weight: normal; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus { position: static; width: auto; height: auto; margin: 0; overflow: visible; clip: auto; }

[role="button"] { cursor: pointer; }

.modal-open { overflow: hidden; }

.modal { display: none; overflow: hidden; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1050; -webkit-overflow-scrolling: touch; outline: 0; }

.modal.fade .modal-dialog { -webkit-transform: translate(0, -25%); -ms-transform: translate(0, -25%); -o-transform: translate(0, -25%); transform: translate(0, -25%); -webkit-transition: -webkit-transform 0.3s ease-out; -o-transition: -o-transform 0.3s ease-out; transition: transform 0.3s ease-out; }

.modal.in .modal-dialog { -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); -o-transform: translate(0, 0); transform: translate(0, 0); }

.modal-open .modal { overflow-x: hidden; overflow-y: auto; }

.modal-dialog { position: relative; width: auto; margin: 10px; }

.modal-content { position: relative; background-color: #ffffff; border: 1px solid #999999; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 0; -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); -webkit-background-clip: padding-box; background-clip: padding-box; outline: 0; }

.modal-backdrop { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1040; background-color: #000000; }

.modal-backdrop.fade { opacity: 0; filter: alpha(opacity=0); }

.modal-backdrop.in { opacity: 0.5; filter: alpha(opacity=50); }

.modal-header { padding: 15px; border-bottom: 1px solid #e5e5e5; }

.modal-header .close { margin-top: -2px; }

.modal-title { margin: 0; line-height: 1; font-family: "WarHelios"; font-weight: bold; }

.modal-body { position: relative; padding: 15px; background: #e3e3e3; }

.modal-body p { margin: 0; }

.modal-footer { padding: 15px; text-align: right; border-top: 1px solid #e5e5e5; }

.modal-footer .button { height: 40px; line-height: 40px; }

.modal-footer .btn + .btn { margin-left: 5px; margin-bottom: 0; }

.modal-footer .btn-group .btn + .btn { margin-left: -1px; }

.modal-footer .btn-block + .btn-block { margin-left: 0; }

.modal-scrollbar-measure { position: absolute; top: -9999px; width: 50px; height: 50px; overflow: scroll; }

@media (min-width: 768px) { .modal-dialog { width: 600px; margin: 30px auto; }
  .modal-content { -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }
  .modal-sm { width: 300px; } }

@media (min-width: 992px) { .modal-lg { width: 900px; } }

.clearfix:before, .clearfix:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after { content: " "; display: table; }

.clearfix:after, .modal-header:after, .modal-footer:after { clear: both; }

.center-block { display: block; margin-left: auto; margin-right: auto; }

.pull-right { float: right !important; }

.pull-left { float: left !important; }

.hide { display: none !important; }

.show { display: block !important; }

.invisible { visibility: hidden; }

.text-hide { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; }

.hidden { display: none !important; }

.affix { position: fixed; }

.button { display: inline-block; position: relative; height: 45px; line-height: 45px; }

.button > button { position: relative; background: none; width: 100%; height: 100%; outline: none; padding: 0 1em; margin: 0; top: 0; left: 0; color: #777777; border: 1px solid #bbbbbb; font: normal 21px/1em "WarHelios"; }

.button > button:after, .button > button:before, .button:after, .button:before { content: ''; display: block; opacity: 0; position: absolute; background: none; z-index: 1; -webkit-transition: all 300ms ease-out; -moz-transition: all 300ms ease-out; -o-transition: all 300ms ease-out; transition: all 300ms ease-out; }

.button:after, .button:before { width: 1px; height: 100%; }

.button > button:after, .button > button:before { height: 1px; width: 100%; }

.button > button:after { bottom: -1px; left: 20px; }

.button > button:before { top: -1px; right: 20px; }

.button:before { left: 0; top: 20px; }

.button:after { right: 0; bottom: 20px; }

.button:hover > button { color: #333333; }

.button:hover:after, .button:hover:before, .button:hover > button:after, .button:hover > button:before { opacity: 1; background: #666666; }

.button:hover:after { bottom: 0; }

.button:hover:before { top: 0; }

.button:hover > button:after { left: 0; }

.button:hover > button:before { right: 0; }

.button.button-primary > button { color: #D71637; }

.button.button-primary:hover > button { color: #D71637; }

.button.button-primary:after, .button.button-primary:before, .button.button-primary > button:after, .button.button-primary > button:before { background: #D71637; }

.button + .button { margin-left: 7px; }

.control { display: inline-block; width: 100%; font-size: .9rem; color: #3e4044; letter-spacing: .5px; text-align: left; border: 1px solid #BBBBBB; padding: 0 12px; line-height: 38px; -webkit-transition: all 300ms ease-out; -moz-transition: all 300ms ease-out; -o-transition: all 300ms ease-out; transition: all 300ms ease-out; resize: vertical; }

.control.ng-invalid.ng-touched { border-color: #D71637; }

.control:focus { outline: none; border-color: #666666; }

select.control { min-height: 40px; }

textarea.control { line-height: 1.5em; padding: 10px 12px; }

.label { font-size: 1rem; font-weight: normal; margin-bottom: .6rem; display: block; }

.label.required:after { content: ' *'; color: #D71637; }

.form.flex-form { display: flex; }

.form.flex-form fieldset { flex: 1 1 100%; border: 0; }

.form.flex-form fieldset.w-50 { max-width: 50%; width: 50%; flex: 0 0 50%; }

.form.flex-form fieldset.w-50 + fieldset.w-50 { padding-top: 2rem; }

.row { margin-bottom: 1rem; }

.row .control-group.flex { display: flex; flex: 1 1 100%; }

.row .control-group.flex .button { white-space: nowrap; height: 40px; line-height: 40px; }

.row .control-group.flex .button button { font-size: 1.2rem; }

.row .control-group.flex .control { border-right: 0; }

.row:last-child { margin: 2rem 0 0; }

.w-50 { max-width: 600px; }

.categories, .benefits { padding: 0; margin: 0; list-style: none; }

.categories a, .benefits a { display: block; text-decoration: none; color: #333; }

.categories a:hover, .benefits a:hover { background-color: #F0F0F0; }

.categories { padding: 1rem 0 0; }

.categories a.title { font-family: "WarHelios"; font-size: 1.5rem; padding: 1rem 1.5rem; border-bottom: 1px solid #E9E9E9; position: relative; }

.categories a.title img, .categories a.title span { vertical-align: middle; }

.categories a.title img + span { margin-left: 1rem; }

.categories a.title span.arrow { width: 60px; height: 100%; display: inline-block; position: absolute; right: 0; top: 0; background: url(/img/icn-arrow-select.svg) center no-repeat; background-size: 1rem; z-index: 2; transition: all 300ms ease-out; }

.categories a.title span.arrow.collapsed { transform: rotate(-180deg); }

.categories a.title span.arrow:hover { background-color: #E4E4E4; border-radius: 50%; }

.categories li:last-child a.title { border-bottom: 0; }

.categories .benefits { -webkit-transition: all 300ms ease-out; transition: all 300ms ease-out; }

.categories .benefits a { position: relative; font-size: 1rem; padding-left: 4.8rem; }

.categories .benefits a:before { content: ''; position: absolute; width: 1rem; height: 1px; background: #C7C7C7; top: 50%; left: 3rem; }

.categories .benefits.ng-hide { opacity: 0; }

header { display: flex; justify-content: space-between; }

header menu { display: table; margin: 0; padding: 1em 0 0 1em; font-family: 'Open Sans Condensed', sans-serif; }

header menu li { display: table-cell; padding: 0; margin: 0; }

header menu li a { display: block; padding: 0 1em; font-size: 17px; color: #333333; text-decoration: none; }

header menu li a.active { color: #D71637; }

header div.wg-logo { padding: 0 1rem 0px; position: relative; top: 1rem; left: 1rem; }

header div.wg-logo > img { height: 40px; }

main { display: flex; flex: 1 1 100%; padding: 2rem; }

main .action-panel { white-space: nowrap; }

main .sidebar { padding-right: 2rem; min-width: 404px; }

main .content { flex: 1 1 100%; }

main .content > h1 { margin-top: .7rem; }

main .sidebar + .content { padding-left: 2rem; border-left: 1px solid #E9E9E9; }

.admin-page { width: 100%; }

.admin-page > section { margin: 0; padding: 1rem; float: left; width: 33%; min-width: 33%; }

.admin-page > section ul { list-style: none; margin: 0; padding: 0 0 0 1rem; }

.admin-page > section a { display: block; text-decoration: none; color: #666; padding: .8rem 1.5rem; }

.admin-page > section a:hover { color: #D71637; }

.admin-page > section h4 { margin: 0 0 .5rem; }

.admin-page > section h4 a { color: #222; font-family: "WarHelios"; font-size: 1.5rem; background: rgba(255, 255, 255, 0.9); border-bottom: 1px solid #E9E9E9; }

.admin-page > section:nth-child(4) { clear: left; }

.angular-google-map-container { height: 250px; }

.flex-right { display: flex; justify-content: flex-end; }

.places { margin: -1rem 0 0; padding: 0; list-style: none; min-height: 3rem; }

.places li { position: relative; background: white; padding: 1rem; border-bottom: 1px solid #E9E9E9; opacity: .7; }

.places li:last-child { border-bottom: 0; }

.places li span.remove { color: #666666; width: 43px; height: 100%; display: inline-block; position: absolute; right: 0; top: 0; background: url("/img/icn-close.svg") center no-repeat; background-size: 1rem; z-index: 2; transition: all 300ms ease-out; }

.places li span.remove:hover { background-color: #E4E4E4; border-radius: 50%; }

/*# sourceMappingURL=discounts.css.map */