@font-face {
	font-family: 'WarHelios';
	src: url('/css/src/wg_fonts/warhelioscondcbold-webfont.woff') format('woff'), url('/css/src/wg_fonts/warhelioscondcbold-webfont.svg#warhelioscondcbold-webfont') format('svg');
	font-weight: bold;
	font-stretch: condensed;
	font-style: normal;
}
@font-face {
	font-family: 'WarHelios';
	src: url('/css/src/wg_fonts/warhelioscondc-webfont.woff') format('woff'), url('/css/src/wg_fonts/warhelioscondc-webfont.svg#warhelioscondc-webfont') format('svg');
	font-weight: normal;
	font-stretch: condensed;
	font-style: normal;
}
