h1 Все скидки по категориям
div.admin-page
    section(ng-repeat="category in categories")
        h4
            a(ng-bind="category.title", href="/#/admin/categories/{{category._id}}")
        ul
            li(ng-repeat="discount in discounts | filter: { 'category_id': category._id }")
                a(ng-bind="discount.title", href="/#/admin/discounts/{{discount._id}}")
