h1(ng-bind="editMode ? 'Редактирование категории «'+category.title+'»' :'Создание категории'")
form.form.w-50(ng-submit="submit()", name="categoryForm")
	div.row
		label.label.required Название категории
		input.control(ng-model="category.title", placeholder="Введите название категории", required)
	div.row.flex
		label.label.required Иконка
		div.control-group.flex
			input.control(ng-model="category.icon", placeholder="Выберите иконку")
			div.button(type="button")
				button(ng-bind="'Select image'") 
	div.row
		label.label Описание
		textarea.control(ng-model="category.description", placeholder="Введите описание")
	div.row.flex-right
		div.button
			button(ng-bind="'Удалить категорию'", ng-if="editMode" ng-click="removeCategory()", type="button") 
		div.button.button-primary
			button(ng-bind="(editMode ? 'Сохранить' :'Создать')+' категорию'", type="submit", ng-disabled="categoryForm.$invalid") 
