div.modal-header
	h1.modal-title Внимание!
div.modal-body
	p(ng-bind="message")
div.modal-footer
	div.button
		button(type="button" ng-click="$close()") Удалить
	div.button
		button(type="button" ng-click="$dismiss('cancel')") Отмена
