h1(ng-bind="editMode ? 'Редактирование скидки «'+discount.title+'»' :'Создание скидки'")
form.form.flex-form(ng-submit="submit()", name="discountForm")
	fieldset.w-50
		div.row
			label.label.required Категория скидки
			select.control(ng-model="discount.category_id", ng-options="category._id as category.title for category in categories", ng-disabled="categories.length < 1",required)
				option(value="", disabled) Выберите категорию
		div.row
			label.label.required Название
			input.control(ng-model="discount.title", placeholder="Введите название", required)
		div.row.flex
			label.label Картинка
			div.control-group.flex
				input.control(ng-model="discount.img", placeholder="Выберите изображение")
				div.button(type="button")
					button(ng-bind="'Выбрать'") 
		div.row
			label.label.required Краткое описание
			input.control(ng-model="discount.short_description", placeholder="Введите краткое описание", required)
		div.row
			label.label Полное описание
			textarea.control(ng-model="discount.description", placeholder="Введите полное описание")
	fieldset.w-50
		div.row
			div(ui-gmap-google-map, center='map.center', zoom='map.zoom')
		div.row
			label.label Места скидки
			div.control-group.flex
				input.control(ng-model="newPlace.address", placeholder="Введите адрес")
				div.button
					button(type="button", ng-bind="'Добавить'", ng-click="createPlace()") 
		div.row
			ul.places
				li(ng-repeat="place in discount.places")
					span(ng-bind="place.address")
					span.remove(ng-click="removePlace($index)")
		div.row.flex-right
			div.button
				button(ng-if="editMode" ng-click="removeDiscount()", type="button") Удалить скидку
			div.button.button-primary
				button(type="submit", ng-bind="(editMode ? 'Сохранить' :'Создать')+' скидку'" ng-disabled="discountForm.$invalid")
