$button-height: 45px;
$border-color-start: #bbbbbb;
$border-color-end: #666666;
.button {
    display: inline-block;
    position: relative;
    height: $button-height;
    line-height: $button-height;
    > button {
        position: relative;
        background: none;
        width: 100%;
        height: 100%;
        outline: none;
        padding: 0 1em;
        margin: 0;
        top: 0;
        left: 0;
        color: $color-start;
        border: 1px solid $border-color-start;
        font: normal 21px/1em $wg-font-stack;
    }

    > button:after,
    > button:before,
    &:after,
    &:before {
        content: '';
        display: block;
        opacity: 0;
        position: absolute;
        background: none;
        z-index: 1;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
    }
    &:after,
    &:before {
        width: 1px;
        height: 100%;
    }
    > button:after,
    > button:before {
        height: 1px;
        width: 100%;
    }
    > button:after {
        bottom: -1px;
        left: 20px;
    }
    > button:before {
        top: -1px;
        right: 20px;
    }
    &:before {
        left: 0;
        top: 20px;
    }
    &:after {
        right: 0;
        bottom: 20px;
    }
    &:hover {
        > button {
            color: $color-end;
        }
        &:after,
        &:before,
        > button:after,
        > button:before {
            opacity: 1;
            background: $border-color-end;
        }
        &:after {
            bottom: 0;
        }
        &:before {
            top: 0;
        }
        > button:after {
            left: 0;
        }
        > button:before {
            right: 0;
        }
    }
    &.button-primary {
        > button {
            color: $color-active;
        }
        &:hover {
            > button {
                color: $color-active;
            }
        }
        &:after,
        &:before,
        > button:after,
        > button:before {
            background: $color-active;
        }
    }
}
.button + .button {
    margin-left: 7px;
}
