$control-border-color-start: #BBBBBB;
$control-border-color-end: #666666;
$control-color: #3e4044;

.control {
    display: inline-block;
    width: 100%;
    font-size: .9rem;
    color: $control-color;
    letter-spacing: .5px;
    text-align: left;
    border: 1px solid $control-border-color-start;
    padding: 0 12px;
    line-height: 38px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    &.ng-invalid.ng-touched {
        border-color: $color-active;
    }
    &:focus {
        outline: none;
        border-color: $control-border-color-end;
    }
    resize: vertical;
}
select.control {
    min-height: 40px;
}
textarea.control {
    line-height: 1.5em;
    padding: 10px 12px;
}
.label {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: .6rem;
    display: block;
    &.required {
        &:after {
            content: ' *';
            color: $color-active;
        }
    }
}
