.form.flex-form {
    display: flex;
    fieldset {
        flex: 1 1 100%;
        border: 0;
        &.w-50 {
            max-width: 50%;
            width: 50%;
            flex: 0 0 50%;
        }
    }
    fieldset.w-50 + fieldset.w-50 {
        padding-top: 2rem;
    }
}
.row {
    margin-bottom: 1rem;
    .control-group.flex {
        display: flex;
        flex: 1 1 100%;
        .button {
            white-space: nowrap;
            height: 40px;
            line-height: 40px;
            button {
                font-size: 1.2rem;
            }
        }
        .control {
            border-right: 0;
        }
    }
    &:last-child {
        margin: 2rem 0 0;
    }
}
.w-50 {
    max-width: 600px;
}
