.places {
    margin: -1rem 0 0;
    padding: 0;
    list-style: none;
    min-height: 3rem;
    li {
        position: relative;
        background: rgb(255,255,255);
        padding: 1rem;
        border-bottom: 1px solid #E9E9E9;
        opacity: .7;
        &:last-child {
            border-bottom: 0;
        }
        span.remove {
            color: #666666;
            width: 43px;
            height: 100%;
            display: inline-block;
            position: absolute;
            right: 0;
            top: 0;
            background: url('/img/icn-close.svg') center no-repeat;
            background-size: 1rem;
            z-index: 2;
            transition: all 300ms ease-out;
            &:hover {
                background-color: #E4E4E4;
                border-radius: 50%;
            }
        }
    }
}
