.categories,
.benefits {
    padding: 0;
    margin: 0;
    list-style: none;
    a {
        display: block;
        text-decoration: none;
        color: #333;
        &:hover {
            background-color: #F0F0F0;
        }
    }
}
.categories {
    padding: 1rem 0 0;
    a.title {
        font-family: $wg-font-stack;
        font-size: 1.5rem;
        padding: 1rem 1.5rem;
        border-bottom: 1px solid #E9E9E9;
        position: relative;
        img,
        span {
            vertical-align: middle;
        }
        img + span {
            margin-left: 1rem;
        }
        span.arrow {
            width: 60px;
            height: 100%;
            display: inline-block;
            position: absolute;
            right: 0;
            top: 0;
            background: url(/img/icn-arrow-select.svg) center no-repeat;
            background-size: 1rem;
            z-index: 2;
            transition: all 300ms ease-out;
            &.collapsed {
                transform: rotate(-180deg);
            }
            &:hover {
                background-color: #E4E4E4;
                border-radius: 50%;
            }
        }

    }
    li:last-child a.title {
        border-bottom: 0;
    }
}
.categories .benefits {
    a {
        position: relative;
        font-size: 1rem;
        padding-left: 4.8rem;
        &:before {
            content: '';
            position: absolute;
            width: 1rem;
            height: 1px;
            background: #C7C7C7;
            top: 50%;
            left: 3rem;
        }
    }
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    &.ng-hide {
        opacity: 0;
    }
}
