@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import "wg_fonts/_WGfonts.scss";
@import "_variable.scss";
html,
body {
    font-family: $default-font-stack;
    font-size: 14px;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    line-height: 1;
    background: #FEFEFE;
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
}
html {
    min-height: 100%;
    background: #e3e3e3;
    box-sizing: border-box;
}
body {
    position: relative;
    box-shadow: 0 0 3px rgb(200,200,200);
    background: #EFEFEF url("/img/bg_image.jpg") no-repeat;
    background-size: 100% auto;
    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(255,255,255,.65);
    }
    transition: all 1s ease-out .5s;
}
html {
    &.ng-scope {
        body {
            margin: 15px;
        }
    }
    transition: background-color 1s ease-out;
    &.admin {
        background-color: rgba(248,172,184,0.2);
    }
    &.category {
        background-color: rgba(0,128,0,0.1);
    }
    &.discount {
        background-color: rgba(255,249,117,0.2);
    }
}
body * {
    box-sizing: border-box;
}
header,
footer,
main {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
h1, h2, h3, h4, h5, h6 {
    font-family: WarHelios;
    font-weight: normal;
}
@import "_bootstrap.scss";
@import "_button.scss";
@import "_control.scss";
@import "_form.scss";
@import "_sidebar.scss";
header {
    display: flex;
    justify-content: space-between;
    menu {
        display: table;
        margin: 0;
        padding: 1em 0 0 1em;
        font-family: 'Open Sans Condensed', sans-serif;
        li {
            display: table-cell;
            padding: 0;
            margin: 0;
            a {
                display: block;
                padding: 0 1em;
                font-size: 17px;
                color: #333333;
                text-decoration: none;
                &.active {
                    color: $color-active;
                }
            }
        }
    }
    div.wg-logo {
        padding: 0 1rem 0px;
        position: relative;
        top: 1rem;
        left: 1rem;
        > img {
            height: 40px;
        }
    }
}
main {
    display: flex;
    flex: 1 1 100%;
    padding: 2rem;
    .action-panel {
        white-space: nowrap;
    }
    .sidebar {
        padding-right: 2rem;
        min-width: 404px;
    }
    .content {
        flex: 1 1 100%;
        > h1 {
            margin-top: .7rem;
        }
    }
    .sidebar + .content {
        padding-left: 2rem;
        border-left: 1px solid #E9E9E9;
    }
}
.admin-page {
    width: 100%;
    > section {
        margin: 0;
        padding: 1rem;
        float: left;
        width: 33%;
        min-width: 33%;
        ul {
            list-style: none;
            margin: 0;
            padding: 0 0 0 1rem;
        }
        a {
            display: block;
            text-decoration: none;
            color: #666;
            padding: .8rem 1.5rem;
            &:hover {
                color: $color-active;
            }
        }
        h4 {
            margin: 0 0 .5rem;
            a {
                color: #222;
                font-family: $wg-font-stack;
                font-size: 1.5rem;
                background: rgba(255,255,255,.9);
                border-bottom: 1px solid #E9E9E9;
            }
        }
        &:nth-child(4) {
            clear: left;
        }
    }
}
.angular-google-map-container { height: 250px; }
.flex-right {
    display: flex;
    justify-content: flex-end;
}
@import "_places.scss";
